@import "./rose-pine.css";
* {
    border: none;
    font-family: "CaskaydiaCove Nerd Font";
    font-weight: normal;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: @base;
    color: @base;
}

tooltip { background: @base;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    border-color: @love;
}

#workspaces button {
	padding: 0 0.4em;
	margin: 0.25em;
	font-size: 24px;
	background: @base;
	color: @subtle;
}

/** #workspaces button.persistent {
    color: @subtle;
}
**/

#workspaces button.focused {
    color: @love;
}


#backlight {
    color: @text;
}

#backlight,
#clock,
#battery,
#pulseaudio,
#pulseaudio.microphone,
#network,
#tray{
    background:@base;
    opacity: 1.0;
    padding: 0 10px;
}

#clock {
    color:@pine;
}

#network {
    color: @gold;
}

#pulseaudio {
  color: #89b4fa;
  margin-right: 2px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    margin-left: -10px;
}

#battery {
    color: #a6e3a1;
}

